[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
pandas = "*"
matrix-nio = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
requests = "*"
igramscraper = "*"
httpx = "*"
PyYAML = "*"
pillow = "*"
tzlocal = "*"
nest_asyncio = "*"
maya = "*"
deepl = "*"
timeago = "*"
gspread = "*"
oauth2client = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
black = "*"
ipython = "*"
isort = "*"

[pipenv]
allow_prereleases = true
